  
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap:100,200,300,400,500,600,700');
 
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.heading {
    background-color: blue;
    color: coral;
}